{% load static %}

<style>
    .header img {
        width: 100px;
        height: 100px;
        transition: transform 0.2s;
    }
    .header img:hover{
        transform: scale(1.05);
    }
</style>

<div class="container header">
    <div class="row">
        <div class="col-6">
            <a href="{% url 'index' %}">
                <img src="{% static 'data/logo/logo_black.svg' %}" alt="logo">
            </a>
        </div>
        {% if user.is_authenticated %}
<div class="logout-container">
    <p>Вы вошли как <strong>{{ user.email }}</strong></p>
    <a href="{% url 'auth_page' %}?logout" class="btn btn-main">Выйти</a>
</div>
{% else %}
        <div class="col-6 text-end align-content-center">
            <a href="{% url 'auth_page' %}" class="btn btn-main">Войти</a>
        </div>
        {% endif %}
    </div>
</div>