{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="form-section">
        <h2>Восстановление пароля</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" name="email" autocomplete="email" required id="id_email" 
                       class="form-control" placeholder="Ваш email">
            </div>
            <button type="submit" class="btn btn-primary">Отправить инструкции</button>
            <a href="{% url 'auth_page' %}" class="btn btn-secondary">Назад</a>
        </form>
    </div>
</div>
{% endblock %}