{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="form-section">
        <h2>Инструкции отправлены</h2>
        <p>
            Мы отправили вам инструкции по установке пароля на указанный адрес электронной почты.
            Вы должны получить их в ближайшее время.
        </p>
        <p>
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, 
            с которым вы зарегистрировались, и проверьте папку со спамом.
        </p>
        <a href="{% url 'auth_page' %}" class="btn btn-primary">Вернуться на страницу входа</a>
    </div>
</div>
{% endblock %}