{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="form-section">
        <h2>Введите новый пароль</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1">Новый пароль:</label>
                <input type="password" name="new_password1" required id="id_new_password1" 
                       class="form-control" placeholder="Новый пароль">
                <small class="form-text text-muted">
                    Пароль должен содержать не менее 8 символов, включая цифры и буквы в разных регистрах.
                </small>
            </div>
            <div class="form-group">
                <label for="id_new_password2">Подтверждение пароля:</label>
                <input type="password" name="new_password2" required id="id_new_password2" 
                       class="form-control" placeholder="Повторите пароль">
            </div>
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}